* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background-color: black;
    font-weight: 900;
}

.caja1 {
    display: flex;
}

#header {
    background-color: #fe91b0;
    border-left: black 4px solid;
    border-top: 4px black solid;
    border-radius: 20px 20px 20px 20px;
}

#main {
    display: block;
    background-color: black;
    width: 100%;
    max-height: calc(100vh - 40px);
    overflow: auto;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    border-radius: 20px;
}


#footer {
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
}

#footer label {
    font-family: 'letra1';
    font-size: 10px;
    text-shadow: 0px 0px 0px transparent;
    -webkit-text-stroke: 0px transparent;
    text-stroke: 0px transparent;
    color: white;
}

#footer label a {
    text-decoration: none;
    color: #b0febd;
}

header {
    display: inline-block;
    width: 130px;
    margin-bottom: auto;
    height: inherit;
}

/*header:hover {
    width: 150px;
    transition: 0.3s;
}*/

header nav {
    margin-left: auto;
    margin-right: auto;
}

header nav button {
    display: grid;
    font-family: 'letra1';
    background-color: #f5f681;
    /*border: transparent;*/
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    width: 100px;
    text-shadow: 0px 0px 0px transparent;
    -webkit-text-stroke: 0px transparent;
    text-stroke: 0px transparent;
    border: 4px black solid;
    font-weight: 900;
}

header nav button:hover {
    cursor: pointer;
    background-color: #b9f8bc;
}

nav button img {
    width: 40px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

header #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: auto;
}

.centrado {
    position: relative;
    text-align: center;
    background-color: #fe91b0;
}

.centrado:nth-child(2) {
    padding-top: 10px;
    border-top: 4px black solid;
    border-radius: 20px 20px 0px 0px;
}

.centrado:nth-child(2) label {
    font-size: 40px;
    font-family: "letra1";
    color: #01b5cc;
    text-shadow: 0px 0px 5px #add935;
    -webkit-text-stroke: 0.6px #add935;
    text-stroke: 0.6px #add935;
}

.centrado:nth-child(3) {
    padding-top: 15px;
}

.centrado:nth-child(3) label {
    display: inline-block;
    font-size: 20px;
    font-family: "letra2";
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    margin-top: 10px;
    color: black;
    text-shadow: 0px 0px 0px transparent;
    -webkit-text-stroke: 0px transparent;
    text-stroke: 0px transparent;
}

.centrado button {
    background: transparent;
    border: 0px transparent solid;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.centrado button img {
    display: block;
    width: 150px;
    height: auto;
    border-radius: 12px;
    border: black 4px solid;
}

.centrado button #imgMasTamaño {
    width: 200px;
}

.centrado img.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(10px);
}

.centrado img {
    width: 75%;
    height: auto;
    position: relative;
    z-index: 2;
}

.centrado .cajaFlex img {
    width: 35%;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    border: #0e0e0e 5px solid;
}

.centrado .cajaFlex label {
    font-family: "letra2";
    font-size: 20px;
    letter-spacing: -1.4px;
}

.centrado iframe {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.centrado video {
    width: 40%;
}

#centradoF {
    background-color: black;
    border-bottom: black 4px solid;
}

.centrado2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrado2 a img {
    width: 100px;
    height: auto;
    margin: 30px;
}

.centrado2 a:hover img {
    width: 120px;
    height: auto;
    margin: 30px;
}

.cajaFlex {
    display: inline-flex;
}

#cajaUsuario {
    display: grid;
}

nav #cajaUsuario button {
    display: flex;
    font-size: 15px;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav #cajaUsuario button img {
    width: 25px;
    height: auto;
}

#cajaUsuario>img {
    display: none;
}

.centrado form {
    display: inline-block;
    max-width: 400px;
    background-color: #f5f681;
    border: 4px black solid;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.centrado input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 4px solid #000;
    border-radius: 20px;
    font-family: 'letra1';
    font-size: 15px;
}

.g-signin2 {
    margin-top: 10px;
    text-align: center;
}

.centrado .buttonInput {
    display: inline-flex;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
    border: 4px black solid;
    cursor: pointer;
    font-family: 'letra1';
    font-size: 15px;
    align-items: center;
    width: 120px;
    justify-content: center;
}

.centrado .buttonInput:hover {
    background-color: #b9f8bc;
}

.centrado .buttonInput img {
    width: 20px;
    height: auto;
    border: 0;
    border-radius: 0;
}

.centrado .labelEspecial {
    max-width: 800px !important;
    text-align: justify !important;
    margin: 10px !important;
}

.centrado label .labelColor {
    color: gray;
}

.centrado .cajaFlex>a {
    display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px;
}

.centrado .cajaFlex>a:nth-child(1) {
    background-image: url(../img/detalles/instagram.svg);
}

.centrado .cajaFlex>a:nth-child(2) {
    background-image: url(../img/detalles/facebook.svg);
}

.centrado .cajaFlex>a:nth-child(3) {
    background-image: url(../img/detalles/twitter.svg);
}

.centrado .cajaFlex>a:nth-child(1):hover {
    filter: invert(0.5);
}

.centrado .cajaFlex>a:nth-child(2):hover {
    filter: invert(0.5);
}

.centrado .cajaFlex>a:nth-child(3):hover {
    filter: invert(0.5);
}

.centrado .labelLineas {
    font-size: 25px !important;
    font-family: 'letra1';
}

#usuarioRegistrado {
    padding: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    display: block;
    z-index: 9999;
}

#usuarioRegistrado #usuario {
    font-family: 'letra1';
    color: white;
}

#ojoLogin {
    display: inline-block;
    cursor: pointer;
    position: relative;
    right: -43%;
    top: -47px;
}

#ojoRegistro
{
    display: inline-block;
    cursor: pointer;
    position: relative;
    right: -53%;
    top: -61px;
}


@font-face {
    font-family: 'letra1';
    src: url('../fuenteLetra/get_schwifty.ttf') format('truetype');
}

@font-face {
    font-family: 'letra2';
    src: url('../fuenteLetra/TexgyreadventorRegular-1meB.otf') format('truetype');
}

@media (max-width: 380px) {
    header nav button {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 3px !important;
        margin-right: 3px !important;
        font-size: 12px;
        width: 75px;
    }

    #header {
        height: 49px !important;
    }

    #header nav button {
        margin-top: 6px !important;
        margin-bottom: 6px !important;
    }

    .parcheHeader {
        height: 49px !important;
    }

    #cajaUsuario>img {
        height: 40px !important;
    }

    nav #cajaUsuario button {
        font-size: 12px !important;
    }

    nav #cajaUsuario button img {
        width: 17px !important;
    }
}

@media (max-width: 500px) {}

@media (max-width: 700px) {
    header {
        position: fixed;
        bottom: 39px;
        left: 0;
        display: inline-block;
        width: -webkit-fill-available;
        margin-bottom: auto;
        height: 63px !important;
        z-index: 9;
    }

    #header {
        border-right: black 4px solid;
        border-top: black 4px solid;
        border-radius: 20px 20px 0px 0px;
        display: inline-grid;
    }

    #header nav button {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    header #logo {
        display: none;
        position: fixed;
        top: 0px;
        left: 8px;
    }

    header nav button {
        margin-left: 10px;
        margin-right: 10px;
    }

    #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: -webkit-fill-available;
    }

    #main {
        padding-bottom: 70px;
    }

    .centrado video {
        width: 100% !important;
    }

    header nav {
        display: inline-flex;
    }

    nav button img {
        width: 40%;
    }

    #cajaUsuario {

        display: flex;
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fe91b0;
        border: 4px solid black;
        border-radius: 0px 0px 20px 20px;

    }

    #cajaUsuario>img {
        display: block;
        width: auto;
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;
    }

    nav #cajaUsuario button {
        display: flex;
        font-size: 15px;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    nav #cajaUsuario button img {
        width: 25px;
        height: auto;
    }

    #centradoF {
        margin-top: 50px;
    }

}

@media (max-width: 800px) {
    .centrado video {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .centrado video {
        width: 60%;
    }
}